.nvc219NavbarContainer {
  position: fixed;
  background-color: var(--primaryWhite);
  padding: 8px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 0.5em var(--primaryGray);
  overflow: hidden;
  top: 0;
}

.nvi219NavbarItems {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100vw;
  max-width: 720px;
}

.img219LogoImage {
  height: 36px;
  width: 36px;
  object-fit: contain;
}

.nav219NavbarHeading {
  font-size: 2em;
  color: var(--primaryGray);
}

.upi219UserProfileIcon {
  color: var(--primaryGray);
}

.upt219UserProfileTheme {
  align-self: center;
  color: var(--primaryGray);
  font-size: 24px;
  padding-right: 8px;
}

.upi219UserProfileIconGroup {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
