.nav219NavbarContainer {
  background-color: var(--secondaryGreen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primaryGray);
  padding: 4px 8px;
  box-shadow: 0px 1px 10px var(--primaryGray);
}

.nav219NavbarHeading {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.img219LogoImage {
  padding: 0;
  margin: 0;
  height: 2em;
  object-fit: fill;
}

.nav219NavbarDiv {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav219NavbarItem {
  padding: 8px;
  margin: 0;
}

.fap219UserProfile {
  color: var(--primaryGray);
}
