.pvc219PostViewContainer {
  width: 100vw;
  padding: 8px;
  max-width: 720px;
  background-color: var(--primaryWhite);
  margin-bottom: 12px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
