:root {
  --primaryGreen: #00d09b;
  --secondaryGreen: #e5f9f5;
  --primaryGray: #44475a;
  --primaryBlue: #5366ff;
  --backgroundGray: #f6f6f7;
  --primaryWhite: #ffffff;
  --darkWhite: #ebebeb;
  --darkGray: #121212;
}

* {
  margin: 0;
}

.App {
  font-family: "Lato";
}
