.pvh219PostViewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pvi219PostViewProfileImage {
  border-radius: 50%;
  margin-right: 8px;
  padding: 2px;
  border: 2px solid var(--primaryGreen);
}

.pvu219PostViewUsername {
  color: var(--primaryMainColor);
}

.pvu219PostViewMenu {
  color: var(--primaryMainColor);
  margin-right: 4px;
}

.pug219PostViewUserGroup {
  display: flex;
  align-items: center;
}
